@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  .all-small-caps {
    font-variant: all-small-caps;
  }
}

/*
 * Legal Disclaimer for Basic Package licence
 * Basic Licence Package with limited parameters.
 * Should the license page views limit be exceeded the license holder will be required to contact Lineto.com for an upgrade.
 * It is strictly prohibited to rename the font and to download or use these fonts in any other media.
 * These Web fonts are licensed exclusively for the use on the following domain(s) and their subdomains: lauragauch.com
 * , up to 5k monthly page viewsFor up to 5k followers on all social media channels belonging to Laura Gauch
 */

/* complete */
@font-face {
  font-family: "GeigyLLRegular";
  src: url("assets/GeigyLLWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "GeigyLLRegular";
  src: url("assets/GeigyLLWeb-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "TimesTen";
  src: url("assets/TimesTenLTStd-Roman.otf") format("opentype");
}

a {
  @apply hover:underline underline-offset-2;
  cursor: crosshair;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
}
