on:
  push:
    branches: [ "live" ]

name: LIVE Deploy website on push

jobs:
  web-deploy:
    name: Deploy
    runs-on: [ ubuntu-latest ]

    steps:
      - name: Get latest code
        uses: actions/checkout@v6

      - name: Install composer dependencies
        uses: php-actions/composer@v6
        with:
          php_version: "8.3"
          php_extensions: gd ctype curl mbstring zip
          version: 2.x

      - name: Install npm dependencies
        uses: actions/setup-node@v6
        with:
          node-version: "24"
      - run: |
          npm ci
          npm run build

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.SERVER_URL }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          server-dir: ${{ secrets.SERVER_DIRECTORY }}
          exclude: |
            .htaccess
            **/.git*
            **/.git/**
            **/.github/**
            **/src/**
            **/node_modules/**
            **/content/**

#      - name: SSH into the server and remove cache folder
#        uses: appleboy/ssh-action@v1.0.3
#        with:
#          host: ${{ secrets.SERVER_URL }}
#          username: ${{ secrets.USERNAME }}
#          password: ${{ secrets.PASSWORD }}
#          script: |
#            cd .${{ secrets.SERVER_DIRECTORY }}/storage/cache/
#            rm -rf ./sitename.local
